:root {
    --dkblue: #001636;
    --ltgray: #e5e5e5;
    --dkgray: #848199;
    --purple: #722F82;
    --teal: #4bf0bf;
    --white: #fff;
}
html {
    font-size: 15px;
}
body {
    background-color: var(--ltgray);
    font-family: 'HelveticaNeue', sans-serif;
    justify-content: center;
    align-content: center;
}
.header {
    text-align: center;
}
h1 {
    color: var(--dkblue);
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 2rem;
}
h2 {
    color: var(--dkgray);
    font-size: 20px;
}
.pricing-table {
    background-color: var(--white);
    display: flex;
    position: relative;
    z-index: -1;
    margin: 6% auto;
    border-radius: 26px;
    width: 68rem;
    height: 39rem;
}
.pricing-table > * {
    flex: 1;
}
.platform-card {
    background-color: var(--white);
    display: flex;
    z-index: 1;
    margin: 2rem auto;
    border-radius: 26px;
    justify-content: center;
    width: 20rem;
}
.content {
    height: 38rem;
    width: 15rem;
    margin: 0rem; 
}
.popular-content {
    height: 38rem;
    width: 18rem;
    margin-top: 0.75rem;
}
.popular-card {
    background-image: url('./images/image.png');
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 27px 32px 0px;
    position: relative;
    top: -4rem;
    z-index: 2;
    display: flex;
    margin: auto;
    height: 35rem;
    width: 18rem;
    padding: 1.2rem;
    justify-content: center; 
}
.event-card {
    border-radius: 26px;
    background-color: var(--white);
    padding-top: 3.2rem;
    justify-content: center;
    width: 20rem;
    display: flex;
    z-index: 1;
}
.price-container {
    color: var(--dkgray);
}
.price {
    font-family: 'Bowlby One', sans-serif;
    font-size: 2.3rem;
    color: var(--dkblue);
}
.per {
    font-size: 1.13rem;
    font-weight: 500;
}
.medium h3 {
    color: var(--dkblue);
    font-size: 1.86rem;
    font-weight: 900;
    margin-bottom: 0rem;
}
.details {
    color: var(--dkgray);
    font-weight: 500;
    margin-bottom: 2rem;
    width: 17rem;
}
.features ul {
    color: var(--dkgray);
    font-weight: 500;
    list-style: none;
    list-style-position: outside;
    padding-left: 0rem;
    margin-bottom: 3rem;
    width: 16rem;
}
.features li {
    font-weight: 500;
    display: flex;
    margin: 0rem 0rem 1rem;
}
.features li::before {
    content: url('images/gray-dark-check.svg');
    padding: 0rem 0.6rem 0rem 0rem;
}
.features .white li::before {
    content: url('images/white-check-darkbg.svg');
}
#solution-link {
    color: var(--white);
}
#event-link {
    color: var(--teal);
    margin: 0rem 0rem;
    outline: 1px solid red;
}
#partner-link {
    color: var(--dkblue);
    margin: 0rem 0rem;
}
.features .btn {
    background-color: var(--ltgray);
    color: var(--dkblue);
    font-weight: 700;
    text-decoration: none;
    border-radius: 8px;
    width: 10rem;
    height: 1.6rem;
    padding: 1rem 2rem;
    text-align: center;
    display: inline-block;
}
.event-card .btn {
    margin-top: -0.75rem;
}
.trial {
    color: var(--dkgray);
    font-weight: 500;
    margin-top: 1.5rem;
    margin-left: 3rem;
}
.trial a {
    color: var(--dkgray);
    font-weight: 500;
}
.popular-card .white {
    color: var(--white);
}
.popular-tag {
    font-size: 0.67rem;
    width: 18rem;
    height: 2rem;
    margin-left: 10rem;
    background: var(--purple);
    color: var(--white);
    border-radius: 5px;
    padding: 0.67rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.05rem;
}
.popular-btn {
    background-color: var(--teal);
    width: 11rem;
    height: 1.5rem;
    padding: 1rem 3.5rem;
    border-radius: 8px;
    color: var(--dkblue);
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 0rem 3rem 0rem 0rem;
}

@media (max-width: 960px) {
    .body {
        justify-content: center;
    }
    .pricing-table-container {
        max-width: 20rem;
        justify-content: center;
        outline: 1px solid blue;
        margin: 10% auto;
    }
    .pricing-table {
        background-color: var(--ltgray);
        position: relative;
        z-index: -1;
        flex-direction: column;
        max-width: 20rem;
        outline: 1px solid red;
    }
      .pricing-table > * {
        flex-basis: 100%;
        /* max-width: 20rem; */
      }
      .platform-card {
          margin-top: 40rem;
      }
    .popular-card {
        position: absolute;
        margin-top: 4rem;
    }
    .event-card {
        display: absolute;
    } 
}
